/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    color: #8b959e;
}

a:hover {
    color: #191c1f;
}

/* UTILITIES */
.flex {
    display: flex;
}

/* LAYOUT */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 70px 0;
}

.logo img {
    max-width: 100px;
}

.left-nav {
    flex-grow: 1;
    margin-left: 36px;
}

.left-nav ul li {
    margin-right: 36px;
}

.right-nav ul li {
    margin-left: 36px;
}

.dropdown {
    display: none;
}

.download-btn {
    padding: 10px 20px;
    border-radius: 20px;
    background: #EB008D;
    color: #FFF;
}
