/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #8b959e;
}

a:hover {
    color: #191c1f;
}

/* UTILITIES */
.flex {
    display: flex;
}

.selected {
    color: #191c1f;
}

/* LAYOUT */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 70px 0;
}

.logo img {
    max-width: 100px;
}

.left-nav {
    flex-grow: 1;
    margin-left: 36px;
}

.left-nav ul li {
    margin-right: 36px;
}

.right-nav > ul > li {
    margin-left: 36px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: -50%;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .1);
    line-height: 46px;
    width: max-content;
}

.superscript {
    position: relative;
    top: -.8em;
    font-size: .8em;
    color: #EB008D;
    vertical-align: top;
}

.download-btn {
    padding: 10px 20px;
    border-radius: 20px;
    background: #EB008D;
    color: #FFF;
}
